{% include header.html %}
<div class="page">
<!--home base-->
<section>
<article role="banner">
	<div id="owl-demo" class="owl-carousel owl-theme">
 		<div class="item"><img src="i/slide/99_cumulus-1.jpg" alt="legende"></div>
		<div class="item"><img src="i/slide/82_ensemble-1normal.jpg" alt="legende"></div>
		<div class="item"><img src="i/slide/89_frisk-6.jpg" alt="legende"></div>
		<div class="item"><img src="i/slide/98_tectona6.jpg" alt="legende"></div>
   </div>
</article>

<!--Quote-->
<article>
	<blockquote>Et harum fugiandem qui ut eatur sin nuscium evenducime con conseque consequ aepellam que praeper rovitaerum que cum quat.</blockquote>
</article>

<!--pageImage-->
<article class="image">
<h2>news</h2>
<div class="doc-grid">

<div class="doc-cell"><figure ><img src="img/baseCarreH.png" alt=""  /><figcaption >texte legende</figcaption></figure></div>
<div class="doc-cell"><figure ><img src="img/baseCarreH.png" alt=""  /><figcaption >texte legende</figcaption></figure></div>
<div class="doc-cell"><figure ><img src="img/baseCarreH.png" alt=""  /><figcaption >texte legende</figcaption></figure></div>
<div class="doc-cell"><figure ><img src="img/baseCarreH.png" alt=""  /><figcaption >texte legende</figcaption></figure></div>
<div class="doc-cell"><figure ><img src="img/baseCarreH.png" alt=""  /><figcaption >texte legende</figcaption></figure></div>



</div>
</article>

 <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</section>
</div>
{% include footer.html %}
